doctype html
html
  head
    title= title
    script(src="/javascripts/jquery-1.11.0.min.js", type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
